.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #001836;
  font-family: "Poppins";
  font-weight: 100;
}

.task {
  background-color: #006699;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 250px;
  width: 650px;
  max-width: 650px;
  border-radius: 30px;
  color: #b0c4de;
}
.box {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 20px 1px white;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
}
.box input {
  border: none;
  border-radius: 50px;
  background-color: white;
  outline: none;
  padding: 20px;
  font-size: 1rem;
}
.box button {
  background: white;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 18px;
  transition: 1s;
}
.box button:active {
  transform: scale(0.95);
}
.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid white;
  box-shadow: 1px 1px 10px 1px white;
  margin-top: 20px;
  height: 50px;
  width: 630px;
  gap: 10px;
  padding: 10px;
  border-radius: 40px;
  font: 1em;
  overflow: hidden;
}
.list p {
  margin-left: 20px;
  color: white;
}
.but1 {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  right: 32%;
}
.but2 {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  right: 30%;
}
